# pip3 install -r requirements-dev.txt

# for usage, cf. https://github.com/toml-lang/toml 
toml
boto3
sqlalchemy
cryptography
ipfsapi
treq

# qt5reactor
# google-cloud
# PyQt5

# debian
# protobuf-compiler
# python3-protobuf
