QWidget#main_window {
    /*background: #006bcf;*/
    background: #fafafa;
}

QScrollArea, #sidebar{
    border: none;
    outline: none; 
    background: #fafafa;
}

QMessageBox{
    color: #006bcf;
}

QFrame#header {
    background: #006bcf;
}
