QTabWidget::pane {
  border-top: 1px solid #e5e5e5;
  top:-1px; 
} 

QTabBar::tab {
  background: #fafafa; 
  border: 1px solid #fafafa; 
  padding: 15px;
  text-align: left;
} 

QTabBar::tab:selected { 
  background: #e5e5e5; 
  margin-bottom: -1px; 
  border-bottom: 4px solid #555555;
}